body {
    background-color: aliceblue;
    font-size: medium;
    min-height: 100%;
    background-image: url(assets/images/back.JPG);
    background-position: 70px 0px;
}

header {
    font-size: 2.0em;
    width: 700px;
    height: auto;
    font-family: 궁서체;
    margin-left: 368px;

}

#head:hover{
    color: red;
}

#head {
    color: black;
    text-decoration: none !important;
    line-height: 50px;
}

footer {
    margin-left: 320px;
    margin-top:500px;
    bottom: 0;
    width: 700px;
    font-family: fantasy;
    min-height: 50px;
}

#foot:hover{
    font-size: 17px;
    color: royalblue;
}

main {
    width: 800px;
    height: auto;
    margin-left: 600px;
    margin-top: 250px;
    font-size: 25px;
}

nav {
    margin-top: 20px;
    margin-left: 320px;
    position: absolute;
    width: 600px;
    font-size: 1.3em;
    font-family: fantasy;
}

#menu:hover {
    color: red
}

#menu {
    color: black;
    text-decoration-line: none;
}

li {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    list-style: none;
    line-height: 50px;
}

#welcome {
    font-size: 5.0em;
    margin-left: 50px;
}

hr {
    background-color: black;
    height: 5px;
}

#redd {
    color: red
}


#kakao:hover {
    background-color: gray;
}

#kakao {
    position: absolute;
    margin-top: 300px;
    margin-left: 1330px;
}

#github:hover {
    background-color: gray;
}

#github {
    position: absolute;
    margin-top: 340px;
    margin-left: 1330px;
}

#face:hover {
    background-color: gray;
}

#face {
    position: absolute;
    margin-top: 380px;
    margin-left: 1330px;
}

#gmail:hover {
    background-color: gray;
}

#gmail {
    position: absolute;
    margin-top: 420px;
    margin-left: 1330px;
}

#red:hover{
    color: red;
}

#oran:hover{
    color: orange;
}

#yel:hover{
    color: yellow;
}

#cho:hover{
    color: green;
}

#blue:hover{
    color: blue;
}

#nam:hover{
    color: navy;
}

#vio:hover{
    color: violet;
}

#red, #oran, #yel, #cho, #blue, #nam, #vio {
    text-decoration: none;
    color: black;
}

#bb {
    text-decoration: none;
}

#port {
    margin-left: 72px;
}

#cc:hover{
    width: 200px;
    height: 200px;
}

#ico {
    text-decoration: none;
}

#icon {
    margin-top: 400px;
    margin-left: 100px;
    letter-spacing: 25px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translate3d(0,0,0);
    }
    to{
        opacity: 1;
        transform: translateZ(0);
    }
}

#ka:hover{
    background-color: gray;
}

#ka {
    animation:fadeIn 1s;    
}

#git:hover{
    background-color: gray;
}

#git {
    animation:fadeIn 3s;    
}

#gm:hover{
    background-color: gray;
}

#gm {
    animation:fadeIn 5s;    
}

#fac:hover{
    background-color: gray;
}

#fac {
    animation:fadeIn 6s;    
}

aside {
    position: fixed;
}